spring:
  datasource:
    url: jdbc:postgresql://localhost:${LOCALHOST_PORT}/${APPLICATION_DB}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  web:
    error:
      include-stacktrace: never
logging:
  level:
    root: info